@font-face {
    font-family: 'SFProDisplayThin';
    src: url('../fonts/SF-Pro-Display-Thin.otf');
}
@font-face {
    font-family: 'SFProDisplayLight';
    src: url('../fonts/SF-Pro-Display-Light.otf');
}
@font-face {
    font-family: 'SFProDisplayLightItalic';
    src: url('../fonts/SF-Pro-Display-LightItalic.otf');
}
@font-face {
    font-family: 'SFProDisplayRegular';
    src: url('../fonts/SF-Pro-Display-Regular.otf');
}
@font-face {
    font-family: 'SFProDisplayMedium';
    src: url('../fonts/SF-Pro-Display-Medium.otf');
}
@font-face {
    font-family: 'SFProDisplayBold';
    src: url('../fonts/SF-Pro-Display-Bold.otf');
}

body{
    padding: 0;
    margin: 0;
    font-family: 'SFProDisplayRegular', Arial, sans-serif;
}

/* ----------------------------header  ------------------------       */
.header{
    background: url("../img/header-bg.png") no-repeat right top;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    background-size: 76%;
}
.header__wrapper{
    max-width: 1638px;
    margin: 95px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.header__info,
.header__img{
    width: 50%;
    margin-bottom: 50px;
}
.header__img{
    position: relative;
    top: 75px;
    text-align: center;
}
.header__img img{
    max-width: 100%;
}
.header__info{
    position: relative;
}
.header__title{
    font-size: 83px;
    line-height: 90px;
    color: #313131;
    text-transform: uppercase;
    font-family: 'SFProDisplayMedium', Arial, sans-serif;
    margin-bottom: 20px;
}
.header__info p{
    font-size: 60px;
    line-height: 70px;
    color: #b7b7b7;
    font-family: 'SFProDisplayThin', Arial, sans-serif;
    margin: 0;
}
.header__links{
    display: flex;
    margin-top: 110px;
}
.header__links a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 17px 0 17px 40px;
    border-radius: 70px;
    font-family: 'SFProDisplayLight', Arial, sans-serif;
    font-size: 30px;
    position: relative;
    transition: .5s;
    width: 300px;
}
.header__links .add{
    background-color: rgb(118, 134, 255);
    box-shadow: 0 12px 46px 0 rgba(41, 41, 41, 0.24);
    color: #fffefe;
    margin-right: 50px;
}
.header__links .toSupport{
    border: 2px solid rgb(118, 134, 255);
    box-shadow: 0 3px 6px 0 rgba(41, 41, 41, 0.24);
    color: #576af9;
}
.header__links .add::before,
.header__links .add::after{
    content: '';
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 33px;
    height: 2px;
    background-color: #fff;
    transition: .5s;
}
.header__links .add::after{
    transform: translateY(-50%) rotate(90deg);
}
.header__links .toSupport::before{
    content: '';
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 2px;
    background-color: #7686ff;
    transition: .5s;
}
.header__links .toSupport::after{
    content: '';
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 15px;
    height: 15px;
    border-top: 2px solid #7686ff;
    border-right: 2px solid #7686ff;
    transition: .5s;
    box-sizing: border-box;
}
.header__links .add:hover{
    background-color: #3f55fd;
}
.header__links .add:hover::before{
    transform: rotate(90deg);
}
.header__links .add:hover::after{
    transform: rotate(180deg);
}
.header__links .toSupport:hover{
    background-color: #7686ff;
    color: #ffffff;
}
.header__links .toSupport:hover::before,
.header__links .toSupport:hover::after{
    right: 20px;
    border-color: #fff;
}
.header__links .toSupport:hover::before{
    background-color: #fff;
}

/*-----------------------------------nav--------------------------*/
.navMain__wrapper{
    width: 72%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.navMain{
    width: 100%;
    max-width: 1638px;
    margin: auto;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navMain__btn{
    width: 40px;
    border: none;
    height: 30px;
    background: none;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.navMain__btn:active,
.navMain__btn:focus{
    outline: none;
}
.navMain__btn span{
    height: 3px;
    background-color: #fff;
    display: block;
    width: 30px;
    position: relative;
}
.navMain__btn span::after,
.navMain__btn span::before{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #fff;
    top: -8px;
    left: 0;
    width: 30px;
    transition: .5s;
}
.navMain__btn span::after{
    top: 8px;
}
.navMain ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64%;
    margin: 0 10px 0 0;
}
.navMain a{
    font-size: 27px;
    line-height: 51px;
    color: #313131;
    letter-spacing: .01em;
    text-decoration: none;
}
.navMain ul a{
    display: block;
    min-width: 60px;
}
.navMain a.active,
.navMain ul a:hover{
    font-family: 'SFProDisplayBold', sans-serif;
    letter-spacing: .05em;
}
.navMain__logo a{
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: .005em;
}
.userBlock{
    background-color: rgb(118, 134, 255);
    box-shadow: 0 12px 46px 0 rgba(41, 41, 41, 0.24);
    width: 254px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    flex: none;
    transition: .5s;
}
.userBlock:hover{
    background-color: #9AA5FD;
}
.userBlock a{
    color: #ffffff;
    padding: 10px;
}
a.userBlock__name{
    position: relative;
    padding-right: 30px;
}
.userBlock__name::after{
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: url("../img/user.png") no-repeat;
}
.user__wrapper{
    display: flex;
    justify-content: space-between;
}

.search {
    width: 60px;
    height: 35px;
    border: 2px solid #7686ff;
    border-radius: 40px;
    position: relative;
    left: 20px;
    overflow: hidden;
    margin-top: 15px;
    transition: all .5s ease;

}
.search:hover{
    border-color: #C58D06;
}

.search.open {
    width: 220px;
    height: 35px;
    margin-top: 15px;
    border-color: #C58D06;
}
.search.open:before {
     height: 60px;
     margin: 20px 0 20px 30px;
     position: absolute;
}

.search-box {
    /*width: 100%;*/
    /*height: 100%;*/
    box-shadow: none;
    border: none;
    background: transparent;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}
.search-box:focus {
     outline: none;
}

.search-button {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 3px;
    top: -4px;
    padding: 10px;
    cursor: pointer;
}

.search-icon {
    width: 18px;
    height: 18px;
    border-radius: 40px;
    border: 2px solid #7686ff;
    display: block;
    position: relative;
    transition: all .5s ease;
}
.search-icon:before {
    content: '';
    width: 2px;
    height: 15px;
    position: absolute;
    right: -7px;
    top: 9px;
    display: block;
    background-color: #7686ff;
    transform: rotate(-56deg);
    transition: all .5s ease;
}
.open .search-icon{
    height: 2px;
    border: none;
    background-color: #7686ff;
    transform: rotate(45deg);
    margin-top: 10px;
}
.open .search-icon::before{
    height: 18px;
    right: 8px;
    top: -8px;
    transform: none;
}

.open {
    margin: 0;
    width: 60px;
    height: 60px;
    border-radius: 60px;
}
.open:before {
     transform: rotate(52deg);
     right: 22px;
     top: 23px;
     height: 18px;
}




/*--------------------------projects-----------------------------*/
.projects{
    margin: 100px 0 175px;
    background-color: #f8f8f8;
    position: relative;
    font-family: 'SFProDisplayMedium', Arial, sans-serif;
}
.projects::before{
    content: '';
    position: absolute;
    top: -168px;
    display: block;
    width: 100%;
    height: 168px;
    background: url("../img/projects-before.png") no-repeat;
    background-size: cover;
}
.projects::after{
    content: '';
    position: absolute;
    bottom: -178px;
    display: block;
    width: 100%;
    height: 200px;
    background: url("../img/projects-after.png") no-repeat;
    background-size: cover;
}
.projects__wrapper{
    max-width: 1638px;
    margin: auto;
}
.projects__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.projects__title{
    font-size: 48px;
    color: #202020;
    margin-bottom: 55px;
}
.item{
    width: 487px;
    box-shadow: 0 4px 6px 0 rgba(41, 41, 41, 0.14);
    position: relative;
    margin-bottom: 80px;
    transition: .2s;
}
.item:hover{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .5);
}
.item__img{
    max-height: 270px;
    overflow: hidden;
}
.item__img img{
    max-width: 100%;
    height: 100%;
}
.item__info{
    padding: 40px 25px 28px 20px;
    font-size: 18px;
    line-height: 24px;
    color: #2a2a2a;
}
.item__title{
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 10px;
}
.item__donate,
.item__donate .item__in{
    font-size: 18px;
    color: #2a2a2a;
    margin-bottom: 20px;
    font-family: 'SFProDisplayRegular', Arial, sans-serif;
}
.item__donate span{
    color: #c1bfbf;
}
.item__percent{
    color: #aba9a9;
    margin-bottom: 15px;
    font-family: 'SFProDisplayLight', Arial, sans-serif;;
}
.item__to{
    color: #bcbaba;
    font-family: 'SFProDisplayLight', Arial, sans-serif;;
}
.item__progress{
    height: 4px;
    width: 100%;
    background-color: #d7d7d7;
    margin: 30px 0;
}
.item__bar{
    width: 42%;
    height: 4px;
    background-color: #00f9cd;
}
.item__category{
    position: absolute;
    bottom: 28px;
    right: 30px;
    font-family: 'SFProDisplayLight', Arial, sans-serif;;
}
.item__category a{
    text-decoration: underline;
    color: #c5c4c4;
}
.item__like{
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 28px;
    color: #7686ff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 12px 29px 0 rgba(41, 41, 41, 0.49);
    cursor: pointer;
}
.item__like i{
    transition: .5s;
}
.item__like i:hover{
    color: darkred;
}

.item__like i{
    margin-top: 5px;
}
.projects__all{
    text-align: right;
    font-size: 30px;
    position: relative;
    margin-top: -10px;
    z-index: 10;
}
.projects__all a{
    color: #576af9;
    text-decoration: none;
    transition: .5s;
    padding-right: 75px;
    font-family: 'SFProDisplayLight', Arial, sans-serif;;
}
.projects__all a::before{
    content: '';
    position: absolute;
    right: 5px;
    top: 55%;
    transform: translateY(-50%);
    width: 32px;
    height: 2px;
    background-color: #7686ff;
    transition: .5s;
}
.projects__all a::after{
    content: '';
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 16px;
    height: 16px;
    border-top: 2px solid #7686ff;
    border-right: 2px solid #7686ff;
    transition: .5s;
    box-sizing: border-box;
}
.projects__all a:hover{
    text-decoration: underline;
}
.projects__all a:hover::before,
.projects__all a:hover::after{
    right: -20px;
}


/*---------------------------------partners-----------------------*/
.partners{
    margin: 100px auto 50px;
    padding: 50px 0;
    max-width: 1638px;
}
.partners__title{
    font-size: 48px;
    line-height: 85px;
    color: #202020;
    margin-bottom: 50px;
    font-family: 'SFProDisplayMedium', Arial, sans-serif;
}
.slider__items{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    max-width: 1500px;
    margin: auto;
}
.slider__item{
    width: 10%;
}
.slider__item{
    margin-right: 75px;
}
.slider__item:nth-child(odd){
    margin-right: 95px;
}
.slider__item:last-child{
    margin-right: 0;
}
.slider__item img{
    width: 114px;
    height: auto;
    transition: .5s;
}
.slider__item img:hover{
    transform: rotate(360deg);
}
.slider .slick-track{
    display: flex;
    justify-content: space-around;
}
.subscribe{
    text-align: center;
    max-width: 1638px;
    margin: 0 auto 50px;
}
.subscribe__title{
    font-size: 48px;
    line-height: 55px;
    color: #2a2a2a;
    margin-bottom: 70px;
    font-family: 'SFProDisplayLight', Arial, sans-serif;
}
.subscribe input{
    border: 2px solid #00f9cd;
    box-shadow: 0 12px 46px 0 rgba(41, 41, 41, 0.24);
    border-radius: 50px;
    width: 285px;
    padding: 27px;
    margin: 0 40px 0 50px;
    color: #282828;
    font-family: 'SFProDisplayLightItalic', Arial, sans-serif;
    transition: .5s;
}
.subscribe input:focus,
.subscribe input:hover{
    outline: none;
    border-color: #7686FF;
}
.subscribe button{
    background-color: #00f9cd;
    box-shadow: 0 12px 46px 0 rgba(41, 41, 41, 0.24);
    width: 210px;
    border: none;
    border-radius: 50px;
    padding: 25px;
    font-size: 24px;
    color: #ffffff;
    font-family: 'SFProDisplayLight', Arial, sans-serif;
    transition: .5s;
    cursor: pointer;
}
.subscribe button:hover{
    background-color: #7686FF;
}

/*-----------------------------footer-------------------*/
.footer {
    background: url("../img/footer.bg.png") no-repeat center top;
    background-size: cover;
    font-family: 'SF-Pro-Display-Light', Arial, sans-serif;
    padding: 80px 0 50px;
}
.footer__wrapper{
    max-width: 1638px;
    margin: auto;
}
.footer__nav{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    max-width: 1150px;
    margin: 35px auto 90px;
}
.footer__nav .footerNav__item:last-child{
    position: relative;
    left: 50px;
}
.footerNav p{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 60px;
    letter-spacing: .05em;
    padding-left: 40px;
    position: relative;
    font-family: 'SFProDisplayBold', Arial, sans-serif;
    margin-bottom: 20px;
}
.footerNav p::before{
    content: '';
    width: 50px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.footerNav__item{
    width: 16%;
}
.footerNav ul{
    padding: 0;
    list-style: none;
}
.footerNav li,
.footerNav li > a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: .5s;
    display: block;
}
.footerNav li > a:hover{
    color: #00f9cd;
    transform: translateX(10px);
    transition: .5s;
}
.footerNav__item span{
    color: #2a2a2a;
    font-size: 16px;
    display: block;
    margin: 30px 0 50px;
}
.social{
    display: flex;
    justify-content: space-between;
    margin: -10px 0 50px;
    position: absolute;
}
.social__btn{
    border: 2px solid #fff;
    border-radius: 50%;
    width: 67px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    color: #23284c;
    transition: .5s;
    margin-right: 30px;
}
.social__btn:last-child{
    margin-right: 0;
}
.social__btn i{
    transition: .5s;
}
.social__btn:hover{
    border-color: #23284c;
}
.social__btn:hover i{
    color: #ffffff;
}

.footer__info{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
    opacity: .55;
    margin-top: 30px;
}
.footer__author{
    text-decoration: underline;
}
.hr{
    opacity: .55;
}


@media (max-width: 1675px){
    .header{
        background-size: 80%;
    }
    .header__wrapper{
        max-width: none;
        padding: 0 50px;
    }
    .header__title{
        font-size: 53px;
        line-height: 60px;
    }
    .header__info, .header__img{
        margin: 0;
    }
    .header__img{
        top: 50px;
    }
    .header__img img{
        max-width: 70%;
    }
    .header__info p {
        font-size: 40px;
        line-height: 50px;
    }
    .header__links a{
        padding: 10px 0 10px 50px;
        border-radius: 50px;
        font-size: 20px;
        width: 200px;
    }
    .header__links{
        margin-top: 50px;
    }
    .header__links .add::before,
    .header__links .add::after,
    .header__links .toSupport::before{
        width: 23px;
    }
    .header__links .toSupport::after{
        width: 10px;
        height: 10px;
    }
    .navMain{
        max-width: none;
        padding: 0 50px;
        width: auto;
    }
    .navMain a{
        font-size: 18px;
        line-height: 24px;
    }
    .userBlock{
        width: 190px;
    }
    .userBlock__name::after{
        background-size: 70%;
        margin-top: 5px;
    }
    .search,
    .search.open{
        margin-top: 0;
    }
    .search{
        left: 0;
    }
    .projects{
        margin: 50px 0 100px;
        padding: 0;
    }
    .projects::after{
        height: 150px;
        bottom: -150px;
    }
    .projects__wrapper{
        max-width: none;
        padding: 0 50px;
    }
    .item{
        width: 30%;
        margin-bottom: 40px;
    }
    .item__img{
        max-height: 200px;
    }
    .item__info{
        padding: 20px 15px;
        font-size: 18px;
        line-height: 24px;
        color: #2a2a2a;
    }
    .item__category{
        bottom: 20px;
    }
    .partners{
        padding: 50px 50px;
        margin: 50px 0;
        max-width: none;
    }
    .slider__items{
        max-width: none;
        padding: 0 50px;
    }
    .slider__item,
    .slider__item:nth-child(odd){
        margin-right: 0;
    }
    .slider__item img{
        margin: auto;
    }
    .subscribe{
        padding: 0 50px;
        max-width: none;
    }
    .subscribe__title{
        font-size: 38px;
        line-height: 45px;
    }
    .subscribe input{
        width: 220px;
        padding: 15px;
    }
    .subscribe button{
        width: 160px;
        padding: 15px;
        font-size: 20px;
        color: #ffffff;
    }
    .partners__title{
        margin-bottom: 40px;
    }
    .footer{
        padding: 100px 0 20px;
    }
    .footer__wrapper{
        padding: 0 50px;
        max-width: none;
    }
    .footerNav{
        justify-content: space-around;
    }
    .footerNav p{
        font-size: 22px;
        line-height: 50px;
    }
    .footerNav p::before{
        width: 40px;
    }
    .social{
        position: static;
    }
    .social__btn{
        width: 50px;
        height: 50px;
        font-size: 24px;
        margin-right: 10px;
    }
    .footerNav__item{
        width: 33%;
    }
    .footer__nav .footerNav__item:last-child{
        position: static;
    }
    .footer__nav{
        margin-bottom: 0;
    }
}
@media (max-width: 1199px){
    .header{
        background-size: 70%;
    }
    .header__wrapper{
        max-width: 1170px;
        margin: 100px auto 0;
    }
    .header__title{
        font-size: 53px;
        line-height: 60px;
    }
    .header__img img{
        max-width: 60%;
    }
    .header__info p {
        font-size: 35px;
        line-height: 45px;
    }
    .header__links{
        justify-content: flex-start;
    }
    .header__links a{
        width: 150px;
        font-size: 15px;
        padding-left: 20px;
        margin-right: 20px;
    }
    .header__links .add::before,
    .header__links .add::after{
        right: 20px;
    }
    .header__links .add::before,
    .header__links .add::after,
    .header__links .toSupport::before{
        width: 18px;
    }
    .navMain{
        max-width: none;
        padding: 0 50px;
    }
    .navMain ul{
        width: 80%;
    }
    .navMain a{
        font-size: 18px;
        line-height: 28px;
    }
    .userBlock{
        width: 150px;
    }
    a.userBlock__name{
        font-size: 16px;
    }
    .userBlock__name::after{
        background-size: 60%;
        margin-top: 7px;
    }
    .item__info{
        font-size: 15px;
        line-height: 24px;
    }
    .item__title{
        font-size: 20px;
        line-height: 28px;
    }
    .item__donate,
    .item__donate .item__in{
        font-size: 15px;
    }
    .item__category{
        right: 15px;
    }
    .partners__title{
        margin-bottom: 30px;
    }
    .subscribe__title{
        font-size: 28px;
        line-height: 35px;
    }
    .subscribe input{
        width: 190px;
        padding: 15px;
    }
    .subscribe button{
        width: 140px;
        padding: 15px;
        font-size: 20px;
        color: #ffffff;
    }
    .footerNav p{
        font-size: 20px;
        line-height: 40px;
        padding-left: 10px;
    }
    .footerNav p::before{
        width: 30px;
    }
    .footerNav__item{
        width: 30%;
    }
    .footerNav li > a{
        font-size: 18px;
        line-height: 30px;
    }
    .footerNav__item span{
        font-size: 16px;
    }
}

@media (max-width: 991px){
    .header__wrapper{
        margin-top: 150px;
    }
    .navMain__wrapper{
        width: 60%;
    }
    .navMain ul{
        width: 100%;
    }
    .navMain__logo{
        margin-right: 100px;
    }
    .item{
        width: 48%;
    }
    .projects::before{
        height: 100px;
        top: -100px;
    }
    .footerNav p{
        font-size: 18px;
        line-height: 30px;
    }
    .footerNav p::before{
        width: 20px;
    }
    .footerNav__item{
        width: 30%;
    }
    .footerNav li > a{
        font-size: 16px;
    }
    .footerNav__item span{
        font-size: 14px;
    }
    .footerNav p{
        padding: 0;
    }
    .footerNav p::before{
        display: none;
    }
    .social__btn{
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .item__info{
        font-size: 14px;
    }
    .user__wrapper{
        position: absolute;
        top: 50px;
        right: 0;
    }
}

@media (max-width: 767px) {
    .navMain__btn{
        display: block;
        transition: .5s;
    }
    .navMain__btn.open span{
        background-color: rgba(255, 255, 255, 0);
    }
    .navMain__btn.open span::before{
        left: 50%;
        top: 0;
        transform: rotate(45deg);
    }
    .navMain__btn.open span::after{
        left: 50%;
        top: 0;
        transform: rotate(-45deg);
    }
    .navMain ul{
        transform: translate(100%, 150%);
        opacity: 0;
        transition: .5s;
        width: 500px;
    }
    .navMain{
        top: 0;
        overflow-x: hidden;
        padding: 35px 30px 50px;
    }
    .navMain ul.visible{
        transform: translate(0, 150%);
        opacity: 1;
        padding: 0;
    }
    .header__img img{
        max-width: 80%;
    }
    .user__wrapper{
        top: 0;
        right: 70px;
    }
    .navMain a{
        padding: 5px;
    }
    .userBlock a{
        padding-right: 30px;
    }
    .header__wrapper{
        margin-top: 150px;
    }
    .header__links{
        flex-direction: column;
    }
    .header__links a{
        width: 120px;
        font-size: 13px;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .header__links .add::before,
    .header__links .add::after{
        right: 10px;
    }
    .header__links .add::before,
    .header__links .add::after,
    .header__links .toSupport::before{
        width: 15px;
    }
    .partners__title{
        text-align: center;
    }
    .footerNav__item{
        width: 48%;
        text-align: center;
    }
    .footer__nav{
        flex-wrap: wrap;
    }
    .header__wrapper{
        padding: 0 23px;
    }
    .projects__wrapper{
        padding: 0 30px;
    }
}

@media (max-width: 579px) {
    .header{
        margin-bottom: 0;
        background-size: 90%;
    }
    .header__wrapper{
        padding: 0 20px;
        margin-bottom: 100px;
    }
    .header__img{
        top: 0;
    }
    .header__links a{
        margin-bottom: 10px;
    }
    .navMain__wrapper{
        width: 100%;
    }
    .item{
        width: 100%;
        max-width: 350px;
        margin: 0 auto 30px;
    }
    .navMain{
        padding: 35px 20px;
        flex-direction: column;
    }
    .navMain__logo{
        text-align: left;
        font-size: 18px;
    }
    .navMain__logo{
        margin: 0 0 20px;
        font-size: 20px;
    }
    .search{
        height: 30px;
        width: 50px;
    }
    .search.open {
        width: 150px;
        height: 30px;
    }
    .search-button{
        padding: 5px;
        width: 20px;
        height: 20px;
        right: 10px;
    }
    .search-icon:before{
        height: 12px;
        right: -6px;
        top: 6px;
    }
    .search-icon{
        width: 10px;
        height: 10px;
    }
    .search-box{
        padding: 7px 10px;
        font-size: 14px;
    }
    .open .search-icon{
        width: 18px;
    }
    .userBlock{
        width: 120px;
    }
    .navMain a{
        font-size: 15px;
        padding: 0;
    }
    .navMain__logo{
        margin-left: auto;
    }
    .userBlock__name::after{
        background-size: 40%;
        margin-top: 11px;
    }
    .userBlock a{
        padding-right: 30px;
    }
    .header__title{
        margin-top: 10px;
        font-size: 30px;
        line-height: 36px;
    }
    .header__info p{
        font-size: 20px;
        line-height: 24px;
    }
    .projects::before{
        height: 60px;
        top: -60px;
    }
    .projects__wrapper{
        padding: 0 20px;
    }
    .projects__title{
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 20px;
    }
    .projects__all{
        text-align: center;
    }
    .projects__all a{
        padding: 0;
        position: relative;
        font-size: 20px;
        line-height: 24px;
    }
    .projects__all a::after,
    .projects__all a::before{
        right: -25px;
    }
    .projects__all a::before{
        width: 20px;
        height: 1px;
    }
    .projects__all a::after{
        width: 8px;
        height: 8px;
        border-width: 1px;
    }
    .projects__all a:hover::before,
    .projects__all a:hover::after{
        right: -35px;
    }
    .projects::after{
        height: 60px;
        bottom: -60px;
    }
    .projects{
        margin: 0;
    }
    .partners{
        margin-bottom: 0;
    }
    .partners__title{
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .subscribe{
        margin-bottom: 0;
    }
    .subscribe__title{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .subscribe input{
        margin: 0 0 20px;
    }
    .footerNav__item{
        width: 100%;
    }
    .social{
        justify-content: center;
        margin-bottom: 10px;
    }
    .social__btn{
        margin: 10px;
    }
    .footer__info{
        font-size: 12px;
    }
    .footer__copyright{
        width: 55%;
    }
}